body {
  margin: 0%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#imgfindtheperfecthome {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.top-half {
  flex-shrink: 0;
}

.bottom-half {
  background-color: #f1f1f1;
  padding: 20px;
}

#h2 {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 5vh;
}

#text {
  display: flex;
  justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 2%;
}

.navbar {
  background-color: #d2b48c; /* Light brown color */
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
}

.navbar-list li {
  margin-left: 10px;
}

.navbar-list li:last-child {
  margin-left: 0;
}

.navbar-list li a {
  text-decoration: none;
  color: #000; /* Black color */
  padding: 6px 10px;
  border-radius: 4px;
}

.navbar-list li a:hover {
  background-color: #ccc;
}
